<!DOCTYPE html>
<html>
 <head>
    <link rel="stylesheet" href= "/css/style.css">
 </head>


 <body>
    <div class="page-container">
      <div class="content-wrap">
      </div>
      <footer class="footer">
          <p>Copyright © Vaccineapp AB</p>
      </footer>
    </div>
   </body>
   
   </html>
