<!doctype html>
<html>
<head>
    <link href= "https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link rel="stylesheet" href= "/css/style.css">
    <title></title>
</head>

<body>
    <div class ="header">
        <div class= "inner_header">
            <div class = "logo_container">
                <h1><a href="/index"><h1>VACCINE<span>MANAGEMENT</span></h1></a></h1>
            </div>
            <ul class = "navigation">
                <a href="/vaccine/journal"><li>Journal</li></a> 
                <a href="/vaccine/vaccination"><li>Vaccination</li></a>
                <a href="/vaccine/booking"><li>Bookings</li></a>
                <a href="/vaccine/login"><li><img src="https://img.icons8.com/ios-filled/40/ffffff/password.png"/></li></a>


            </ul>

        </div>
    </div>
    <nav>

    </nav>
    <body>
        <div class = "imghead">
            
        </div>
    </body>
</html>